{% extends "base.html" %}

{% block title %}Chemhacktica Homepage{% endblock %}

{% block page_title %}Chemhacktica: Software tools for organic synthesis{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}{% endblock %}

{% block sidebar_items %}{% endblock %}

{% block page_body %}
<p>
    Welcome to the Chemhacktica website! Here, we have hosted a number of computational tools to assist in synthetic
    planning and other aspects of organic chemistry. These are listed and described in the Modules tab in the top
    navigation bar. Please keep in mind that this service is supported by a fixed amount of computational resources.
    Your requests may take significantly longer than expected if there are several other users on the site also
    performing computationally-expensive requests.
</p>

<div class="my-4 text-center"><a class="btn btn-primary btn-lg" href="{% url 'modules' %}">Get Started</a></div>

{% endblock %}
